{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "FirebaseSettings": {
    "ProjectId": "ProjectId",
    "ServiceKey": "ServiceKey"
  },
  "JwtSettings": {
    "SecretKey": "SecretKey",
    "Issuer": "Issuer",
    "Audience": "Audience",
    "Expires": 60,
    "RefreshExpires": 43200
  },
  "ConnectionStrings": {
    "HUBBIES_DB": "HUBBIES_DB_CONNECTION_STRING"
  },
  "RateLimitSettings": {
    "Bucket": {
      "TokenLimit": 200,
      "TokensPerPeriod": 20,
      "ReplenishmentPeriod": 60
    }
  },
  "ZaloPay": {
  "AppId": "AppId",
  "AppUser": "AppUser",
  "Key1": "Key1",
  "Key2": "Key2",
  "PaymentUrl": "PaymentUrl",
  "CallbackUrl": "CallbackUrl",
  "QueryUrl": "QueryUrl",
  "RedirectUrl": "RedirectUrl"
  },
  "SwaggerServers": [
    {
      "Url": "Server Url",
      "Description": "Server Description"
    }
  ]
}