ASPNETCORE_ENVIRONMENT=ENVIRONMENT

# Provide server url as format "{protocol}://{host}:{port}"
# for health check map onto
SERVER_URL=SERVER_URL

FirebaseSettings__ProjectId=FIREBASE_PROJECT_ID
FirebaseSettings__ServiceKey=FIREBASE_SERVICE_KEY

JwtSettings__SecretKey=JWT_SECRET_KEY
JwtSettings__Issuer=JWT_ISSUER
JwtSettings__Audience=JWT_AUDIENCE
JwtSettings__Expires=JWT_EXPIRES
JwtSettings__RefreshExpires=JWT_REFRESH_EXPIRES

ConnectionStrings__HUBBIES_DB=DB_CONN

RateLimitSettings__Bucket__TokenLimit=RATE_LIMIT_TOKEN_LIMIT
RateLimitSettings__Bucket__TokensPerPeriod=RATE_LIMIT_TOKENS_PER_PERIOD
RateLimitSettings__Bucket__ReplenishmentPeriod=RATE_LIMIT_REPLENISHMENT_PERIOD

ZaloPay__AppId=ZP_APP_ID
ZaloPay__AppUser=ZP_APP_USER
ZaloPay__Key1=ZP_KEY1
ZaloPay__Key2=ZP_KEY2
ZaloPay__PaymentUrl=ZP_PAYMENT_URL
ZaloPay__CallbackUrl=ZP_CALLBACK_URL
ZaloPay__QueryUrl=ZP_QUERY_URL
ZaloPay__RedirectUrl=ZP_REDIRECT_URL

# Optional, can be set in case of multiple servers deployment
SwaggerServers__0__Url=SWAGGER_SERVER_URL
SwaggerServers__0__Description=SWAGGER_SERVER_DESCRIPTION